<!-- Page Content -->
<div class="container">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Page Heading
        <small>Secondary Text</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item" dir-paginate="beer in beers | itemsPerPage: 9">
      <a href="#">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>{{ beer }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
  </div>

  <dir-pagination-controls
   max-size="9"
   direction-links="true"
   boundary-links="true">
  </dir-pagination-controls>
  <!-- /.row -->
</div>
