<!--
  the group name
  the group members
  for each member:
    name
    photo
    bio
    major responsibilities
    no. of commits
    no. of issues
    no. of unit tests
  stats:
    total no. of commits
    total no. of issues
    total no. of unit tests
    a link to the Apiary API
    a link to the GitHub Issue Tracker
    a link to the GitHub Repo
    a link to the GitHub Wiki
  data:
    links to the data sources
    description of how each was scraped
  tools:
    tools used
-->
<!--
Group Name: Alcoholics
Project Name: The Intoxicator

Group Members:
Andrea Coldwell (1PM)
Brett Cox (1PM)
Chris Timaeus (10 AM)
Cody Stanfield (10AM)
Sydney Shutter (10 AM)
Proposed Project:
A cocktail database

Example Models:
Cocktail (name, ingredients, recipe, origin, variants, image)
Ingredients (name, "types", brands, alcohol content, origin)

Data Sources:
http://www.thecocktaildb.com/
-->
<!-- Page Content -->

  <div class="container">
    <!-- Team Members Row -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Meet Our Team: "The Alcoholics"</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <img alt="Andrea Coldwell" class="img-circle img-responsive img-center"
        height="200px" src="/static/images/about/dre.JPG" width="200px">
        <h3>Andrea Coldwell <small>Front End, AngularJS Master</small></h3>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Information
              </div><!-- /.panel-heading -->
              <!-- panel-body -->
              <div align="left" class="panel-body" style="padding-left: 25px">
                <u>Bio:</u> I am a senior undergraduate studying Computer
                Science at the University of Texas at Austin. When I graduate
                in May, I plan on traveling Europe for a month and a half.
                After I am done galavanting through Europe, I will be starting
                the real world as a Software Developer at Dell in Austin.<br>
                <u>Commits:</u> 69<br>
                <u>Issues:</u> 10<br>
                <u>Unit Tests:</u> 0<br>
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <img alt="Brett Cox" class="img-circle img-responsive img-center"
        height="275" src="/static/images/about/brett.jpeg" width="225">
        <h3>Brett Cox <small>Front End, Twitter Embedder, Idea Man</small></h3>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Information
              </div><!-- /.panel-heading -->
              <div class="panel-body">
                <!-- panel-body -->
                <div align="left" class="panel-body" style=
                "padding-left: 50px">
                  <u>Bio:</u> I am a senior undergraduate studying Computer
                  Science at the University of Texas at Austin. Once I graduate
                  in December, I'll be joining Produce Pro Software as a
                  consultant. In my free time, I enjoy programming and doing
                  nerd things.<br>
                  <u>Commits:</u> 6<br>
                  <u>Issues:</u> 6<br>
                  <u>Unit Tests:</u> 0<br>
                </div><!-- /.panel-body -->
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <img alt="Sydney Shutter" class="img-circle img-responsive img-center"
        height="300" src="/static/images/about/sydney.jpg" width="250">
        <h3>Sydney Shutter <small>Tester, About Page Writer</small></h3>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Information
              </div><!-- /.panel-heading -->
              <div class="panel-body">
                <div align="left" class="panel-body" style=
                "padding-left: 50px">
                  <u>Bio:</u> I am a senior at the University of Texas at
                  Austin studying Computer Science, with a Business Foundations
                  Certificate. I am also on the Women's Soccer Team here at UT.
                  After graduating in May, I will be moving to Lincoln,
                  Nebraska to work as a Software Quality Analyst for Hudl.<br>
                  <u>Commits:</u> 34<br>
                  <u>Issues:</u> 12<br>
                  <u>Unit Tests:</u> 112<br>
                </div>
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <img alt="Cody Stanfield" class="img-circle img-responsive img-center"
        height="300" src="/static/images/about/cody.jpg" width="300">
        <h3>Cody Stanfield <small>Mr. API Scraper, Wiki Reporter,
        UML</small></h3>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Information
              </div><!-- /.panel-heading -->
              <div class="panel-body">
                <div align="left" class="panel-body" style=
                "padding-left: 50px">
                  <u>Bio:</u>I attended UT Dallas for two years, and have been
                  finishing up my schooling here at UT Austin. I interned at
                  Estech Systems and National Instruments, and will be working
                  at Lithium once I graduate this Spring.<br>
                  <u>Commits:</u> 55<br>
                  <u>Issues:</u> 12<br>
                  <u>Unit Tests:</u> 0<br>
                </div>
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <img alt="Chris Timaeus" class="img-circle img-responsive img-center"
        height="200" src="/static/images/about/chris.jpg" width="325">
        <h3>Chris Timaeus <small>Models Database Expert, Rackspace
        Owner</small></h3>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Information
              </div><!-- /.panel-heading -->
              <div class="panel-body">
                <div align="left" class="panel-body" style=
                "padding-left: 50px">
                  <u>Bio:</u> I have too much training in anti-terrorism
                  (military) and information security (college) to put a
                  picture of myself on the internet. I like fuzzy kittens,
                  fu-fu cocktails, long walks on the beach and absolute honesty
                  in internet bios.<br>
                  <u>Commits:</u> 28<br>
                  <u>Issues:</u> 6<br>
                  <u>Unit Tests:</u>0<br>
                </div>
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Stats</h2>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="well well-sm">
            Total Number of Commits: 241
          </div>
          <div class="well well-sm">
            Total Number of Issues: 61
          </div>
          <div class="well well-sm">
            Total Number of Unit Tests: 112
          </div>
          <div class="well well-sm">
            Link to the Apiary API: <a href="http://docs.cocktailapi.apiary.io/#" target=
            "_blank">Apiary
            API</a>
          </div>
          <div class="well well-sm">
            Link to the GitHub Issue Tracker: <a href=
            "https://github.com/crakkerjak/cs373-idb/issues" target=
            "_blank">GitHub Issue
            Tracker</a>
          </div>
          <div class="well well-sm">
            Link to the GitHub Repo: <a href=
            "https://github.com/crakkerjak/cs373-idb" target=
            "_blank">GitHub Repo</a>
          </div>
          <div class="well well-sm">
            Link to the GitHub Wiki: <a href=
            "https://github.com/crakkerjak/cs373-idb/wiki/Tools" target=
            "_blank">GitHub
            Wiki</a>
          </div>
          <div class="well well-sm">
            Link to the Speaker Deck: <a href=
            "https://github.com/crakkerjak/cs373-idb/wiki/Tools" target=
            "_blank">Speaker
            Deck</a>
          </div>
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Data</h2>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- .panel-heading -->
          <div class="panel-body">
            <div class="panel-group" id="stats">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-parent="#stats" data-toggle=
                  "collapse" href="#collapseOne">The Cocktail DB:</a></h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                  <div class="panel-body">
                    <a href="http://www.thecocktaildb.com/" target=
                    "_blank">The Cocktail
                    DB:</a>
                    <p>The Cocktail Database is solely where our data comes
                    from. The file DBScraper.py in the Mixopedia repository
                    hits this API. It first gets a list of all of the cocktails
                    available from The Cocktail Database, then requests the
                    information for all available cocktails, and stores the
                    results in a pickle file, cocktails.pkl. The scraper then
                    retrieves images from the web for each cocktail and
                    ingredient, and saves them to the corresponding
                    /static/images directory.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- .panel-body -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Tools <small>For a description of each tool
          see our <a href=
          "https://github.com/crakkerjak/cs373-idb/wiki/Tools" target=
          "_blank">GitHub
          Wiki</a></small></h2>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="media">
              <a class="pull-left" href="https://angularjs.org" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" src=
              "/static/images/tools/favicon.jpg"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://angularjs.org"
                target="_blank">AngularJS</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://apiary.io" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" src=
              "/static/images/tools/apiary.jpg"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://apiary.io" target=
                "_blank">Apiary</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://atom.io" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" src=
              "/static/images/tools/atom-7.jpg"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://atom.io" target=
                "_blank">Atom</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://getbootstrap.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" src=
              "/static/images/tools/bootstrap.jpg"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://getbootstrap.com"
                target="_blank">Bootstrap</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://www.cocktaildb.com/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/cdb.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://www.cocktaildb.com/"
                target="_blank">Cocktail DB</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://pypi.python.org/pypi/coverage/3.7.1/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" src=
              "/static/images/tools/pylogo.jpg"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://pypi.python.org/pypi/coverage/3.7.1/" target=
                "_blank">Coverage</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://flask.pocoo.org" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/flask.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://flask.pocoo.org"
                target="_blank">Flask</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://pypi.python.org/pypi/Flask-WhooshAlchemy" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/pylogo.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://pypi.python.org/pypi/Flask-WhooshAlchemy"
                target="_blank">Flask-WhooshAlchemy 0.6</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://pypi.python.org/pypi/coverage/3.7.1/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/git.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://pypi.python.org/pypi/coverage/3.7.1/" target=
                "_blank">git</a></h4>
              </div>
            </div> <!-- End Media Div -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="media">
              <a class="pull-left" href="https://desktop.github.com/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/githubdesktop.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://desktop.github.com/"
                target="_blank">GitHub Desktop</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://help.github.com/articles/about-github-wikis/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/githubwiki.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://help.github.com/articles/about-github-wikis/" target=
                "_blank">GitHub Wiki</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://www.google.com/chrome/browser/desktop/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/googlechrome.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://www.google.com/chrome/browser/desktop/" target=
                "_blank">Google Chrome</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://www.iterm2.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/iterm.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://www.iterm2.com"
                target="_blank">iTerm2</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://jinja.pocoo.org/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/jinja.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://jinja.pocoo.org/"
                target="_blank">jinja</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://jquery.com/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/jquery.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://jquery.com/" target=
                "_blank">JQuery</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://github.com/adamshaylor/jquery-age-gate" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/tool.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://github.com/adamshaylor/jquery-age-gate" target=
                "_blank">JQuery Age Gate</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://jsfiddle.net" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/jsfiddle.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://jsfiddle.net" target=
                "_blank">JSFiddle</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://piazza.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/piazza.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://piazza.com" target=
                "_blank">Piazza</a></h4>
              </div>
            </div> <!-- End Media Div -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="media">
              <a class="pull-left" href="http://www.planitpoker.com/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/planitpoker.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://www.planitpoker.com/" target=
                "_blank">Plan IT Poker</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://www.postgresql.org/" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/postgresql.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://www.postgresql.org/"
                target="_blank">PostgreSQL</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://www.getpostman.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/postman.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://www.getpostman.com"
                target="_blank">Postman</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://pydoc.org" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/pylogo.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://pydoc.org" target=
                "_blank">pydoc</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://www.pylint.org" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/pylogo.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://www.pylint.org"
                target="_blank">Pylint</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://www.rackspace.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/rackspace.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://www.rackspace.com"
                target="_blank">Rackspace</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://slack.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/slack.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://slack.com" target=
                "_blank">Slack</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://speakerdeck.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/speakerdeck.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://speakerdeck.com"
                target="_blank">Speaker Deck</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://www.sqlalchemy.org" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/sqlalchemy.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://www.sqlalchemy.org"
                target="_blank">SQLAlchemy</a></h4>
              </div>
            </div> <!-- End Media Div -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="media">
              <a class="pull-left" href="http://stackoverflow.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/stackoverflow.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://stackoverflow.com"
                target="_blank">Stack Overflow</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://startbootstrap.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/startbootstrap.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://startbootstrap.com"
                target="_blank">Start Bootstrap</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://www.sublimetext.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/sublime.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://www.sublimetext.com"
                target="_blank">Sublime</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://en.wikipedia.org/wiki/Terminal_(OS_X)" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/terminal.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://en.wikipedia.org/wiki/Terminal_(OS_X)" target=
                "_blank">Terminal</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="https://travis-ci.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/travisci.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="https://travis-ci.com"
                target="_blank">Travis-CI</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://dev.twitter.com/overview/documentation" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/twitterapi.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://dev.twitter.com/overview/documentation" target=
                "_blank">Twitter API</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href=
              "https://docs.python.org/3.4/library/unittest.html" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/pylogo.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href=
                "https://docs.python.org/3.4/library/unittest.html" target=
                "_blank">unittest</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://www.w3schools.com" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/w3schools.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://www.w3schools.com"
                target="_blank">W3Schools</a></h4>
              </div>
            </div> <!-- End Media Div -->
            <div class="media">
              <a class="pull-left" href="http://yuml.me" target=
              "_blank"><img alt="" class=
              "img-responsive img-center img-thumbnail" height="72" src=
              "/static/images/tools/yuml.jpg" width="72"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://yuml.me" target=
                "_blank">yUML</a></h4>
              </div>
            </div> <!-- End Media Div -->
          </div>
        </div>

      </div><!-- /.container -->
      <button type="button" class="btn btn-info" ng-click="getTests()">Run Tests</button>
      <div>
        <pre><code class="bash" ng-bind-html="tests"></code></pre>
      </div>
    </div>
  </div>
