<!--
  the group name
  the group members
  for each member:
    name
    photo
    bio
    major responsibilities
    no. of commits
    no. of issues
    no. of unit tests
  stats:
    total no. of commits
    total no. of issues
    total no. of unit tests
    a link to the Apiary API
    a link to the GitHub Issue Tracker
    a link to the GitHub Repo
    a link to the GitHub Wiki
  data:
    links to the data sources
    description of how each was scraped
  tools:
    tools used
-->

<!--
Group Name: Alcoholics
Project Name: The Intoxicator

Group Members:
Andrea Coldwell (1PM)
Brett Cox (1PM)
Chris Timaeus (10 AM)
Cody Stanfield (10AM)
Sydney Shutter (10 AM)
Proposed Project:
A cocktail database

Example Models:
Cocktail (name, ingredients, recipe, origin, variants, image)
Ingredients (name, "types", brands, alcohol content, origin)

Data Sources:
http://www.thecocktaildb.com/
https://www.mediawiki.org/wiki/API:Main_page
-->

<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">About Us
              <small>It's Nice to Meet You!</small>
          </h1>
          <p>Welcome to our website, Mixopedia.  This website is created for our
            Software Engineering project.  Our group name is Alcoholics.  Enjoy
            and drink responsibily!</p>
      </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Our Group Members</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="/static/images/about/dre.JPG" alt="">
          <h3>Andrea Coldwell
              <small>Front End, AngularJS Master</small>
          </h3>
          <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <!-- /.panel-heading -->
                        <!-- panel-body -->
                        <div class="panel-body" align="left" style="padding-left: 50px">
                          Bio: description <br />
                          Commits: description <br />
                          Issues: description <br /> 
                          Unit Tests: description <br /> 
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Brett Cox
              <small>Front End, Idea Man</small>
          </h3>
          <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- panel-body -->
                          <div class="panel-body" align="left" style="padding-left: 50px">
                            Bio: description <br />
                            Commits: description <br />
                            Issues: description <br /> 
                            Unit Tests: description <br /> 
                          </div>
                        <!-- /.panel-body -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Sydney Shutter
              <small>Tester, About Page Writer</small>
          </h3>
          <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div class="panel-body" align="left" style="padding-left: 50px">
                            Bio: description <br />
                            Commits: description <br />
                            Issues: description <br /> 
                            Unit Tests: description <br /> 
                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Cody Stanfield
              <small>Mr. API Scraper, Wiki Reporter, UML</small>
          </h3>
          <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div class="panel-body" align="left" style="padding-left: 50px">
                            Bio: description <br />
                            Commits: description <br />
                            Issues: description <br /> 
                            Unit Tests: description <br /> 
                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Chris Timaeus
              <small>Models Database Expert, Rackspace Owner</small>
          </h3>
          <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div class="panel-body" align="left" style="padding-left: 50px">
                            Bio: description <br />
                            Commits: description <br />
                            Issues: description <br /> 
                            Unit Tests: description <br /> 
                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
      </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Stats</h2>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Stats
              </div>
              <!-- .panel-heading -->
              <div class="panel-body">
                  <div class="panel-group" id="stats">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#stats" href="#collapseOne">Total Number of Commits:</a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  Total Number of Commits are:
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Total Number of Issues:</a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Total Number of Issues are:
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Total Number of Unit Tests:</a>
                              </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Total Number of Unit Tests are:
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Link to the Apiary API:</a>
                              </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                              <div class="panel-body">
                                  A Link to the Apiary API is:
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Link to the GitHub Issue Tracker:</a>
                              </h4>
                          </div>
                          <div id="collapseFive" class="panel-collapse collapse">
                              <div class="panel-body">
                                <a href="https://github.com/crakkerjak/cs373-idb/issues">GitHub Issue Tracker</a>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Link to the GitHub Repo:</a>
                              </h4>
                          </div>
                          <div id="collapseSix" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <a href="https://github.com/crakkerjak/cs373-idb">GitHub Repo</a>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Link to the GitHub Wiki:</a>
                              </h4>
                          </div>
                          <div id="collapseSeven" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <a href="https://github.com/crakkerjak/cs373-idb/wiki/Tools">GitHub Wiki</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- .panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  </div>

  <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Data</h2>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Data
              </div>
              <!-- .panel-heading -->
              <div class="panel-body">
                  <div class="panel-group" id="stats">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#stats" href="#collapseOne">The Cocktail DB:</a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <a href="http://www.thecocktaildb.com/">The Cocktail DB:</a>
                                <p>Description of how database was scraped</p>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Media Wiki:</a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <a href="https://www.mediawiki.org/wiki/API:Main_page">Media Wiki:</a>
                                  <p>Description of how database was scraped</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- .panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  </div>

  <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Tools
          <small>For a description of each tool see our
              <a href="https://github.com/crakkerjak/cs373-idb/wiki/Tools">GitHub Wiki</a></small>
        </h2>
    </div>

    <!-- Comment -->
    <div class="col-md-3">
      <div class="row">
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/favicon.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://angularjs.org">AngularJS</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/apiary.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://apiary.io">Apiary</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
        <div class="media">
        	<a class="pull-left" href="#">
        		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/atom-7.jpg" alt=""></img>
        	</a>
        	<div class="media-body">
        		<h4 class="media-heading">
                <a href="https://atom.io">Atom</a>
        		</h4>
        		<!-- End Nested Comment -->
        	</div>
        </div>
        <div class="media">
        	<a class="pull-left" href="#">
        		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/bootstrap.jpg" alt=""></img>
        	</a>
        	<div class="media-body">
        		<h4 class="media-heading">
                <a href="http://getbootstrap.com">Bootstrap</a>
        		</h4>
        		<!-- End Nested Comment -->
        	</div>
        </div>
        <div class="media">
        	<a class="pull-left" href="#">
        		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
        	</a>
        	<div class="media-body">
        		<h4 class="media-heading">
                <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Coverage</a>
        		</h4>
        		<!-- End Nested Comment -->
        	</div>
        </div>
        <div class="media">
        	<a class="pull-left" href="#">
        		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
        	</a>
        	<div class="media-body">
        		<h4 class="media-heading">
                <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Flask</a>
        		</h4>
        		<!-- End Nested Comment -->
        	</div>
        </div>
        <div class="media">
        	<a class="pull-left" href="#">
        		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
        	</a>
        	<div class="media-body">
        		<h4 class="media-heading">
                <a href="https://pypi.python.org/pypi/coverage/3.7.1/">git</a>
        		</h4>
        		<!-- End Nested Comment -->
        	</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">GitHub Desktop</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">GitHub Wiki</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Google Chrome</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">iTerm</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">jinja</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">JQuery</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Our data source APIs</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Piazza</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://pypi.python.org/pypi/coverage/3.7.1/">PostgreSQL</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="http://pydoc.org">pydoc</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://www.pylint.org">Pylint</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://www.rackspace.com">Rackspace</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://slack.com">Slack</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="http://www.sqlalchemy.org">SQLAlchemy</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://www.sublimetext.com">Sublime</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://en.wikipedia.org/wiki/Terminal_(OS_X)">Terminal</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://travis-ci.com">Travis-CI</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="https://docs.python.org/3.4/library/unittest.html">unittest</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
      <div class="media">
      	<a class="pull-left" href="#">
      		<img class ="img-responsive img-center img-thumbnail" src="/static/images/tools/pylogo.jpg" alt=""></img>
      	</a>
      	<div class="media-body">
      		<h4 class="media-heading">
              <a href="http://yuml.me">yUML</a>
      		</h4>
      		<!-- End Nested Comment -->
      	</div>
      </div>
    </div>
  </div>


</div>
<!-- /.container -->
</html>
