<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">About Us
              <small>It's Nice to Meet You!</small>
          </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
      </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Our Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
              <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
              <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
              <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
              <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
              <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
              <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
  </div>

  <hr>

</div>
<!-- /.container -->


<body>

<!--
  the group name
  the group members
  for each member:
    name
    photo
    bio
    major responsibilities
    no. of commits
    no. of issues
    no. of unit tests
  stats:
    total no. of commits
    total no. of issues
    total no. of unit tests
    a link to the Apiary API
    a link to the GitHub Issue Tracker
    a link to the GitHub Repo
    a link to the GitHub Wiki
  data:
    links to the data sources
    description of how each was scraped
  tools:
    tools used
-->

<!--
Group Name: Alcoholics
Project Name: The Intoxicator

Group Members:
Andrea Coldwell (1PM)
Brett Cox (1PM)
Chris Timaeus (10 AM)
Cody Stanfield (10AM)
Sydney Shutter (10 AM)
Proposed Project:
A cocktail database

Example Models:
Cocktail (name, ingredients, recipe, origin, variants, image)
Ingredients (name, "types", brands, alcohol content, origin)

Data Sources:
http://www.thecocktaildb.com/
https://www.mediawiki.org/wiki/API:Main_page
-->

  <h1>About</h1>

  <h2>Group Name:</h2>
    <p>Alcoholics</p>

  <h2>The Group Members</h2>
    <h3>Andrea Coldwell</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li>Andrea Coldwell</li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Andrea Coldwell" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li>Front end</li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Brett Cox</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li>Brett Cox</li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Brett Cox" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Sydney Shutter</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li>Sydney Shuter</li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Sydney Shutter" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Cody Stanfield</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li>Cody Stanfield</li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Cody Stanfield" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Chris Timaeus</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li>Chris Timaeus</li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Chris Timaeus" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

  <h2>Stats:</h2>
    <ul>
      <li>Total Number of Commits:</li>
        <ul type="circle">
          <li></li>
        </ul>
      <li>Total Number of Issues:</li>
        <ul type="circle">
          <li></li>
        </ul>
      <li>Total Number of Unit Tests:</li>
        <ul type="circle">
          <li></li>
        </ul>
      <li>A Link to the Apiary API:</li>
        <ul type="circle">
          <li><a href="url">link text</a></li>
        </ul>
      <li>A Link to the GitHub Issue Tracker:</li>
        <ul type="circle">
          <li><a href="https://github.com/crakkerjak/cs373-idb/issues">GitHub Issue Tracker</a></li>
        </ul>
      <li>A Link to the GitHub Repo:</li>
        <ul type="circle">
          <li><a href="https://github.com/crakkerjak/cs373-idb">GitHub Repo</a></li>
        </ul>
      <li>A Link to the GitHub Wiki:</li>
        <ul type="circle">
          <li><a href="https://github.com/crakkerjak/cs373-idb/wiki/Tools">GitHub Wiki</a></li>
        </ul>
    </ul>

  <h2>Data:</h2>
    <ul>
      <li><a href="http://www.thecocktaildb.com/">www.thecocktaildb.com/</a></li>
      @<!-- TODO: Cody add description for how these were scraped -->
        <ul type="circle">
          <li>Description of how each was scraped</li>
        </ul>
      <li><a href="https://www.mediawiki.org/wiki/API:Main_page">www.mediawiki.org</a></li>
        <ul type="circle">
          <li>Description of how each was scraped</li>
        </ul>
    </ul>

  <h2>Tools:</h2>
    <ul>
      <li>Tools Used (For a description of each tool see our
          <a href="https://github.com/crakkerjak/cs373-idb/wiki/Tools">GitHub wiki</a>)</li>
        <ul type="circle">
          <li>Atom</li>
          <li>Sublime</li>
          <li>Terminal</li>
          <li>JQuery</li>
          <li>Bootstrap</li>
          <li>Travis-CI</li>
          <li>GitHub</li>
          <li>Slack</li>
          <li>Rackspace</li>
          <li>Google Chrome</li>
          <li>iTerm</li>
          <li>GitHub Desktop</li>
          <li>Flask</li>
          <li>SQLAlchemy</li>
          <li>PostgreSQL</li>
          <li>AngularJS</li>
          <li>jinja</li>
          <li>Apiary</li>
          <li>yUML</li>
          <li>Piazza</li>
          <li>git</li>
          <li>Our data source APIs</li>
          <li>GitHub Wiki</li>
        </ul>
    </ul>

</body>
</html>
