<!-- Page Content -->
    <div class="container">

<!--       <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
      </div> -->

      <!-- <div ng-repeat="drink in drinks | orderBy:sortType:sortReverse"> -->
            <!-- <h1>{{ drink.name }}</h1>
            <ul>
            <div ng-repeat="ingredient in drink.ingredients | orderBy">
              <li>{{ ingredient }}</li>     
            </div>
          </ul>
        </div> -->

        <table class="table table-bordered table-striped">

         <thead>
           <tr>
             <th>
              <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                 Name
                 <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                 <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
               </a>
             </th>
             <th>
              <a href="#" ng-click="sortType = 'glass'; sortReverse = !sortReverse">
              Glass
              <span ng-show="sortType == 'glass' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'glass' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </a>
             </th>
             <th>
              <a href="#" ng-click="sortType = 'image'; sortReverse = !sortReverse">
              Image
              <span ng-show="sortType == 'image' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'image' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
              <!-- currently not working -->
              <a href="#" ng-click="sortType = 'ingredients'; sortReverse = !sortReverse">
              Ingredients
              <span ng-show="sortType == 'ingredients' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'ingredients' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
              <a href="#" ng-click="sortType = 'recipe'; sortReverse = !sortReverse">
              Recipe
              <span ng-show="sortType == 'recipe' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'recipe' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
           </tr>
         </thead>

<!--          Name, glass, image, ingredients, recipe -->        
        <tbody>
          <tr ng-repeat="drink in drinks | orderBy:sortType:sortReverse" ng-click="goToCocktail({cocktail: drink.id})">
            <td>{{ drink.name }}</td>
            <td>{{ drink.glass }}</td>
            <td><img ng-src="{{ drink.image }}" style="width: 100%; height: auto"></td>
            <td>
              <div ng-repeat="ingredient in drink.ingredients | orderBy">
                {{ ingredient }}   
              </div>
            </td>
            <td>{{ drink.recipe }}</td>
          </tr>
        </tbody>

         

       </table>
     <!-- </div> -->

<!--         <div class="row">

            <!-- <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

 -->
<!--  <div ng-repeat="drink in drinks">
    <h1>{{ drink.name }}</h1>
 </div> -->
            <!-- <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="drink in drinks">
                        <div class="thumbnail">
                            <img ng-src="{{drink.image}}" alt="">
                            <div class="caption">
                                <h4><a href="moscow_mule">{{ drink.name }}</a>
                                </h4>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div> -->

    <!-- </div> -->
    <!-- /.container