<!-- Page Content -->
    <div class="container">
        <table class="table table-bordered">

         <thead>
           <tr>
             <th>
              <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                 Name
                 <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                 <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
               </a>
             </th>
             <th>
              <a href="#" ng-click="sortType = 'glass'; sortReverse = !sortReverse">
              Glass
              <span ng-show="sortType == 'glass' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'glass' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </a>
             </th>
             <th>
              <a href="#" ng-click="sortType = 'imageURL'; sortReverse = !sortReverse">
              Image
              <span ng-show="sortType == 'imageURL' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'imageURL' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
              <!-- currently not working -->
              <a href="#" ng-click="sortType = 'ingredients'; sortReverse = !sortReverse">
              Ingredients
              <span ng-show="sortType == 'ingredients' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'ingredients' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
              <a href="#" ng-click="sortType = 'recipe'; sortReverse = !sortReverse">
              Recipe
              <span ng-show="sortType == 'recipe' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="sortType == 'recipe' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
           </tr>
         </thead>

<!--          Name, glass, image, ingredients, recipe -->
        <tbody>
          <tr ng-click="goToCocktail({cocktail: drink.id})" dir-paginate="drink in drinks | orderBy:sortType:sortReverse | itemsPerPage: 10">
            <td>{{ drink.name }}</td>
            <td>{{ drink.glass }}</td>
            <td><img ng-src="{{ drink.imageURL }}" style="width: 100%; height: auto"></td>
            <td>
              <div ng-repeat="ingredient in drink.ingredients">
                {{ingredient.quantity}} {{ingredient.name}}
              </div>
            </td>
            <td>{{ drink.recipe }}</td>
          </tr>
        </tbody>
       </table>
       <dir-pagination-controls
        max-size="10"
        direction-links="true"
        boundary-links="true">
      </dir-pagination-controls>
     </div>
