<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Cocktail Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1>{{drink.name}}</h1>
      <hr>

      <!-- Preview Image -->
      <img class="img-responsive" ng-src="{{drink.image}}" alt="">

      <hr>

      <!-- List of Ingredients -->
      <h2>Ingredients</h2>
      <ul ng-repeat="ingredient in drink.ingredients">
        <li ng-click="goToIngredient({ingredientName: ingredient})"><a>{{ingredient}}</a></li>
      </ul>

      <!-- Recipe -->
      <p>{{drink.recipe}}</p>

      <hr>

    </div>

    <hr>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Well -->
      <div class="well">
        <h4>Cocktail Search (not implemented)</h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
        </div>
        <!-- /.input-group -->
      </div>

      <!-- Embedded Twitter -->
      <!-- <a class="twitter-timeline" href="https://twitter.com/hashtag/{{drink.name}}" data-widget-id="712856529574223878">#{{drink.name}} Tweets</a> -->
      <!-- <a class="twitter-timeline" href="https://twitter.com/hashtag/{{drink.name}}" data-widget-id="712856529574223878">#{{drink.name}} Tweets</a> -->

      <a class="twitter-timeline" href="https://twitter.com/mixopedia" data-widget-id="712852248108343296">Tweets by @mixopedia</a>

      <!-- Side Widget Well -->
      <div class="well">
        <h4>Side Widget Well</h4>
        <p>Maybe use this for other relevant stuff??? idk not deleting cause we may want to use.</p>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- This allows Twitter embedding -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);
    js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>