<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Ingredient Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1>{{item.name}}</h1>
      <hr>

      <!-- Preview Image -->
      <img class="img-responsive" ng-src="{{item.imageURL}}" alt="{{item.name}}">

      <hr>

      <!-- List of Cocktails -->
      <h2>{{item.numberOfCocktails}} Cocktails</h2>
      <ul ng-repeat="cocktail in item.cocktails">
        <li ng-click="goToDrink({drinkID: cocktail.id})"><a>{{cocktail.name}}{{cocktail.id}}</a></li>
      </ul>


    </div>

    <hr>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Embedded Twitter -->
      <a class="twitter-timeline" href="https://twitter.com/hashtag/drinkresponsibly" data-widget-id="712856529574223878">#drinkresponsibly Tweets</a>

      <a class="twitter-timeline" href="https://twitter.com/mixopedia" data-widget-id="712852248108343296">Tweets by @mixopedia</a>


    </div>

  </div>
  <!-- /.row -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<!-- /.container