<!-- Page Content -->
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a>
       </th>
       <th>
        <a href="#" ng-click="sortType = 'alcoholic'; sortReverse = !sortReverse">
        Alcoholic
        <span ng-show="sortType == 'alcoholic' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
        <span ng-show="sortType == 'alcoholic' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        </a>
       </th>
       <th>
        <a href="#" ng-click="sortType = 'image'; sortReverse = !sortReverse">
        Image
        <span ng-show="sortType == 'image' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
        <span ng-show="sortType == 'image' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
       </th>
       <th>
        <!-- currently not working -->
        <a href="#" ng-click="sortType = 'cocktails'; sortReverse = !sortReverse">
        Cocktails
        <span ng-show="sortType == 'cocktails' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
        <span ng-show="sortType == 'cocktails' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
       </th>
       <th>
        <a href="#" ng-click="sortType = 'numCocktails'; sortReverse = !sortReverse">
        Number of Cocktails
        <span ng-show="sortType == 'numCocktails' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
        <span ng-show="sortType == 'numCocktails' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
       </th>
     </tr>
   </thead>

  <!--          Name, glass, image, ingredients, recipe -->        
  <tbody>
    <tr ng-repeat="item in items | orderBy:sortType:sortReverse" ng-click="goToIngredient({itemID: item.id})">
      <td>{{ item.name }}</td>
      <td ng-if="item.alcoholic">Alcoholic</td>
      <td ng-if="item.alcoholic == false">Non-Alcoholic</td>
      <td><img ng-src="{{ item.image }}" style="width: auto; height: 100px"></td>
      <td>
        <div ng-repeat="cocktail in item.cocktails | orderBy">
          {{ cocktail }}   
        </div>
      </td>
      <td>{{ item.numCocktails }}</td>
    </tr>
  </tbody>
  </table>
</div>