<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="Sydney Shutter" content="">

  <title>About</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/custom.css" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!--
  the group name
  the group members
  for each member:
    name
    photo
    bio
    major responsibilities
    no. of commits
    no. of issues
    no. of unit tests
  stats:
    total no. of commits
    total no. of issues
    total no. of unit tests
    a link to the Apiary API
    a link to the GitHub Issue Tracker
    a link to the GitHub Repo
    a link to the GitHub Wiki
  data:
    links to the data sources
    description of how each was scraped
  tools:
    tools used
-->

<!--
Group Name: Alcoholics
Project Name: The Intoxicator

Group Members:
Andrea Coldwell (1PM)
Brett Cox (1PM)
Chris Timaeus (10 AM)
Cody Stanfield (10AM)
Sydney Shutter (10 AM)
Proposed Project:
A cocktail database

Example Models:
Cocktail (name, ingredients, recipe, origin, variants, image)
Ingredients (name, "types", brands, alcohol content, origin)

Data Sources:
http://www.thecocktaildb.com/
https://www.mediawiki.org/wiki/API:Main_page
-->

  <h1>About</h1>

  <h2>Group Name:</h2>
    <p>Alcoholics</p>

  <h2>The Group Members</h2>
    <h3>Andrea Coldwell</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Andrea Coldwell" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Brett Cox</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Brett Cox" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Sydney Shutter</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Sydney Shutter" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Cody Stanfield</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Cody Stanfield" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

    <h3>Chris Timaeus</h3>
      <ul>
        <li>Name:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Photo:</li>
          <!--
          <img src=".jpg" alt="Chris Timaeus" style="width:304px;height:228px;">
          -->
        <li>Bio:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Major Responsibilities:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Commits:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Issues:</li>
          <ul type="circle">
            <li></li>
          </ul>
        <li>Number of Unit Tests:</li>
          <ul type="circle">
            <li></li>
          </ul>
      </ul>

  <h2>Stats:</h2>
    <ul>
      <li>Total Number of Commits:</li>
        <ul type="circle">
          <li></li>
        </ul>
      <li>Total Number of Issues:</li>
        <ul type="circle">
          <li></li>
        </ul>
      <li>Total Number of Unit Tests:</li>
        <ul type="circle">
          <li></li>
        </ul>
      <li>A Link to the Apiary API:</li>
        <ul type="circle">
          <li><a href="url">link text</a></li>
        </ul>
      <li>A Link to the GitHub Issue Tracker:</li>
        <ul type="circle">
          <li><a href="url">link text</a></li>
        </ul>
      <li>A Link to the GitHub Repo:</li>
        <ul type="circle">
          <li><a href="url">link text</a></li>
        </ul>
      <li>A Link to the GitHub Wiki:</li>
        <ul type="circle">
          <li><a href="url">link text</a></li>
        </ul>
    </ul>

  <h2>Data:</h2>
    <ul>
      <li>Links to the Data Sources:</li>
        <ul type="circle">
          <li><a href="url">link text</a></li>
          <!--
          <li>Description of how each was scraped</li>
          -->
        </ul>
    </ul>

  <h2>Tools:</h2>
    <ul>
      <li>Tools Used</li>
    </ul>

</body>
</html>
