<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Mixapedia</h1>
          <h3>The Recipe for Mixing</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="cocktail" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-glass"></i> <span class="network-name">Cocktails</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-grain"></i> <span class="network-name">Ingredients</span></a>
            </li>
            <!-- <li>
                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->



<a  name="contact"></a>
